@charset "UTF-8";
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body.no-scroll {
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --background-color: #2F303A;
  --icon-color: #AFB1B8;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
  --items: 3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.link-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(33px);
          transform: translateY(33px);
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.link-current {
  text-decoration: none;
  position: relative;
  color: var(--accent-color);
  font-weight: 500;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--primary-white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity var(--anim), visibility var(--anim);
    transition: opacity var(--anim), visibility var(--anim);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu-nav {
  padding-left: 25px;
}

a.active {
  color: var(--accent-color);
}

.mobile-menu-nav__item:not(:last-child),
.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
  padding-left: 25px;
}

.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--transparent-text);
}
@media screen and (min-width: 480px) {
  .mobile-menu-contacts-link {
    font-size: 34px;
    line-height: 1.18;
  }
}

.mobile-menu-contacts__item .accent {
  font-size: 34px;
  color: var(--accent-color);
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding-left: 25px;
}

.mobile-menu-soсials__item:not(:last-child),
.mobile-menu-socials-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-socials-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.page-header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-icon {
    fill: currentColor;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header-icon {
    margin-right: 10px;
  }
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .active {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-open__icon {
  fill: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}
.primary {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .primary {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .primary {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .primary {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.nav-item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.site-nav .nav-item:last-child {
  margin-right: 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    font-size: 12px;
    line-height: 1.16;
  }
}
.auth-nav .link {
  color: var(--text-color);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    margin-left: 81px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-item {
    margin-left: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .auth-item:first-child {
    margin-left: 0;
  }
}
.logo {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  font-family: "Raleway", sans-serif;
}
.logo > span {
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.14;
  }
}

.page-footer .logo > span {
  color: var(--primary-white-color);
}

.logo-second {
  margin-bottom: 20px;
  display: block;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.button .link:hover, .button .link:focus {
  color: var(--accent-color);
}

.button-link {
  color: var(--primary-text-color);
  background: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  font-family: inherit;
  padding: 6px 22px;
  border: none;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.button-link:hover, .button-link:focus {
  color: var(--primary-white-color);
}

.button-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding-left: 29px;
  margin-left: 12px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px 56px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.form-button:hover, .form-button:focus {
  background-color: #188CE8;
}

.btn {
  margin-right: 8px;
  -webkit-transition: background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), box-shadow var(--anim);
  transition: background-color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.btn:last-child {
  margin-right: 0;
}
.btn :hover, .btn :focus {
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 480px) {
  .btn {
    margin-bottom: 15px;
  }
}

.all-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-white-color);
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
}

.button-close {
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close-btn:focus,
.modal-close-btn:hover > .button-close {
  fill: var(--accent-color);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}
.social-media__link:hover, .social-media__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-media__icone {
  fill: currentColor;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.footer-social-link:nth-child(n+2) {
  margin-left: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-icone {
  fill: var(--primary-white-color);
}

.hero {
  background-color: var(--background-color);
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 479px) {
  .hero-title {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero-overlay {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bcg-img_mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bcg-img_mob.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bcg-img@2x_mob.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bcg-img@2x_mob.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bcg-img_tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bcg-img_tab.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bcg-img@2x_tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bcg-img@2x_tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-overlay {
    width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bcg-Img_desc.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bcg-Img_desc.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bcg-Img@2x_desc.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bcg-Img@2x_desc.jpg);
  }
}
.portfolio-cards:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* div */
.overlay {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}

.overlay__desc {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--primary-white-color);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .features__icon {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .features__icon {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    height: 120px;
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
.features__titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .features__titel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features__about {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .features__about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .features__about {
    --items: 4;
  }
}

@media screen and (max-width: 767px) {
  .features__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    gap: var(--indent);
    width: 354px;
  }
}

.work {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.work__wraper {
  position: relative;
}

.work__img {
  display: block;
}

.description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__about {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .team__about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team__about {
    --items: 4;
  }
}

.team__item {
  background-color: var(--primary-white-color);
  border: 1px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 30px;
}

.team__title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__about {
  --items: 2;
}
@media screen and (min-width: 768px) {
  .clients__about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__about {
    --items: 6;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}

.clients__icone {
  fill: currentColor;
}

.page-footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.second-footer {
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.third-footer {
  margin-left: auto;
}

.footer-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.author {
  margin-bottom: 9px;
}

.author:last-child {
  margin-bottom: 0;
}

.contacts .link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.address-link:hover, .address-link:focus {
  color: var(--accent-color);
}

.author {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.author:hover, .author:focus {
  color: var(--accent-color);
}

.address-link {
  text-decoration: none;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list {
  list-style: none;
  list-style: none;
  padding: 0;
}

.portfolio__item {
  --items: 1;
  background: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    --items: 3;
  }
}

.portfolio-pic {
  position: relative;
  overflow: hidden;
}

.portfolio-cards {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.portfolio-cards:hover, .portfolio-cards:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.subject {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.desc {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}

.benefits {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.all-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .all-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .all-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--anim), visibility var(--anim);
  transition: opacity var(--anim), visibility var(--anim);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field-comment {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* input */
.contact-form-field {
  height: 40px;
  padding-left: 35px;
  padding-right: 5px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
  outline: none;
}
.contact-form-field:focus {
  border-color: var(--accent-color);
}

.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

/* label */
.contact-form-group {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.contact-form-field:focus ~ .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
  outline: none;
}
.contact-form-comment:focus {
  border-color: var(--accent-color);
}

/* svg */
.contact-form-icon {
  position: absolute;
  left: 55px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

.form-checkbox-agreement {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.form-checkbox-custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  -webkit-transition: background-color var(--anim), order-color var(--anim);
  transition: background-color var(--anim), order-color var(--anim);
}

.form-checkbox-input:checked + .form-checkbox-custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.terms {
  color: var(--accent-color);
  position: relative;
}

.terms::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.footer-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  color: var(--primary-white-color);
  background-color: var(--background-color);
}
.footer-mail::-webkit-input-placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail::-moz-placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:-ms-input-placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail::-ms-input-placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail::placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}/*# sourceMappingURL=main.css.map */