.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    
    }
}
// ul
.clients__about {
    --items: 2;
    
        
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        --items: 3;
    
    }
    
    @media screen and (min-width: 1200px) {
        --items: 6;
    
    }


}




.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;

    
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);

    transition: color var(--anim), background-color var(--anim);

    &:hover,
    &:focus {
    
        color: var(--accent-color);
        border-color: var(--accent-color);
    
    }

    @media screen and (min-width: 480px) {
        width: 210px;
        height: 92px;
    }
    
    @media screen and (min-width: 768px) {
        width: 226px;
        height: 92px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 92px;
        
    
    }
}




.clients__icone {
    fill: currentColor;

}




