.features {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 0px;
    
    }

}

.features__icon {
    display: flex;

    justify-content: center;
    align-items: center;

    
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
        width: 450px;
        height: 120px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
    }

    @media screen and (min-width: 1200px) {
        height: 120px;
        width: 270px;

    }
}
 
@media screen and (min-width: 1200px) {
    .features__item {
        width: 270px;
    }
}



.features__titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 480px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.features__about {
    --items: 1;
    
    @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            --items: 2;
    
        }
    
    @media screen and (min-width: 1200px) {
            --items: 4;
    
        }


}

.features__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;

    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        
        gap: var(--indent);
        width: 354px;
        
    }

    
    

}




