.page-footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .footer-container {
            display: flex;
            align-items: baseline;
    
        }
}

@media screen and (min-width: 480px) and (max-width: 1119px) {
    .footer-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px) {
    .footer-container {
       
        align-items: baseline;

    }
}

@media screen and (max-width: 767px) {
    .second-footer {
        margin-bottom: 60px;
    }
}



.footer-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

@media  screen and (max-width: 1119px) {
    .footer-title {
        text-align: center;
    }
  
}

@media screen and (min-width: 1200px) {
    .third-footer {
            margin-left: auto;
        }
    
        .footer-send {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .second-footer {
            margin-left: 70px;
    
        }

}
    
