.logo {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    
    font-family: 'Raleway', sans-serif;

    &>span {
            color: var(--primary-text-color);
        }

    
    
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.14;
    }

}

.page-footer .logo>span {
    color: var(--primary-white-color);

}

.logo-second {

    margin-bottom: 20px;
    display: block;
}