.team {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    
    }

    background-color: #F5F4FA;

}



.team__about {
    --items: 1;
    
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        --items: 2;
        
    }

    @media screen and (min-width: 1200px) {
        --items: 4;
        
    }



}




.team__item {
    
    
    background-color: var(--primary-white-color);
    border: 1px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    
}



.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 30px;
}

.team__title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 16px;
}