.work {
    // @extend %more;

    padding-top: 0;
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;

        padding-top: 94px;
        padding-bottom: 94px;

        
        
    }
}


.work__pic {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.work__wraper {
    position: relative;
}

.work__img {
    display: block;
}

